[Unit]
Description=Run the PillSync service on TTY2 on startup
BindTo=dev-tty2.device
Requires=dev-tty2.device
After=dev-tty11.device systemd-user-sessions.service

[Service]
Type=simple
User=mikel
Group=mikel
Environment=TERM=linux
ExecStart=virtualenv -p python3 /home/mikel/PillSync/apps/raspi/env && source /home/mikel/PillSync/apps/raspi/env/bin/activate && /usr/bin/env/python3 /home/mikel/PillSync/apps/raspi/main.py
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty2

[Install]
WantedBy=multi-user.target
